<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d3d3d3;
}
body{
  background-color: white;
}
h1{
  text-align: center;
  
}
</style>
</head>
<body>

<h1>Applicants List</h1>

<table>
  <tr>
    <th>Name</th>
    <th>E-mail</th>
    <th>Applicant CV</th>
  </tr>
  {% for applicant in applicants %}
  <tr>
    <td>{{applicant.username}}</td>
    <td>{{applicant.email}}</td>
    <td><a href="/static/uploads/{{applicant.cv}}" download>Download CV</a></td>
  </tr>
  {% endfor %}
</table>

</body>
</html>

